---
---

@import "{{ site.theme }}";

.page-header {
  text-align: center;
  background-image: url("../mowgliandpete.jpg");
  background-size: 100%;
  padding-top: 0px;
  padding-bottom: 12%;

}

// 4280 × 2165
